/*
    Created on : 16/11/2016
    Author     : William Freire
*/

#box-frm-client {
    width: 80%;
}

.btn-acao {
    margin: 3px;
}

.box-wrapper-80 {
    width  : 80%;
    margin : 20px auto;
}

.box-wrapper-90 {
    width  : 90%;
    margin : 20px auto;
}

.strip_grid {
    background-color: #f9f9f9;
}

.strip_grid_none {
    background-color: #FFFFFF;
}

.radio-position {
    margin-top: 1px;
}

/* Botao XS do Bootstrap */
.btn-group-xs > .btn, .btn-xs {
    padding: 3px 5px 5px 6px;
}

@media (max-width: 480px) {
    #box-frm-client {
        width: 100%;
    }

    .box-wrapper-80 {
        width    : 100%;
        overflow : auto;
    }
}

@media (min-width: 481px) and (max-width: 559px) {
    #box-frm-client {
        width: 100%;
    }

    .box-wrapper-80 {
        width    : 100%;
        overflow : auto;
    }

    .box-wrapper-90 {
        width    : 100%;
        overflow : auto;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    #box-frm-client {
        width: 100%;
    }

    .box-wrapper-80 {
        width  : 100%;
    }

    .box-wrapper-90 {
        width    : 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #box-frm-client {
        width: 90%;
    }

    .box-wrapper-80 {
        width  : 90%;
    }

    .box-wrapper-90 {
        width    : 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #box-frm-client {
        width: 90%;
    }

    .box-wrapper-80 {
        width  : 90%;
    }

    .box-wrapper-90 {
        width    : 100%;
    }
}

@media (min-width: 1200px) {

}