/* 
    Created on : 17/11/2016
    Author     : William Freire
*/

#box-frm-func {
    width: 80%;
}

.btn-acao {
    margin: 3px;
}

.box-wrapper-80 {
    width  : 90%;
    margin : 20px auto;
}

.box-wrapper-100 {
    width  : 100%;
    margin : 10px auto 20px;
}

.box-wrapper-btn {
    width  : 100%;
    margin : 10px auto 0;
}

.strip_grid {
    background-color: #f9f9f9;
}

.strip_grid_none {
    background-color: #FFFFFF;
}

.radio-position {
    margin-top: 5px;
}

#btn_add_benef, #btn_add_benedit {
    margin-bottom: 15px;
}

#tbl_func tbody tr td:first-child {
    text-align: center;
}

/* Botao XS do Bootstrap */
.btn-group-xs > .btn, .btn-xs {
    padding: 3px 5px 5px 6px;
}

@media (max-width: 480px) {
    #box-frm-func {
        width: 100%;
    }
    
    .box-wrapper-80 {
        width    : 100%;
        overflow : auto;
    }
}

@media (min-width: 481px) and (max-width: 559px) {
    #box-frm-func {
        width: 100%;
    }
    
    .box-wrapper-80 {
        width    : 100%;
        overflow : auto;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    #box-frm-func {
        width: 100%;
    }
    
    .box-wrapper-80 {
        width  : 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #box-frm-func {
        width: 90%;
    }
    
    .box-wrapper-80 {
        width  : 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #box-frm-func {
        width: 80%;
    }
    
    .box-wrapper-80 {
        width  : 100%;
    }
}

@media (min-width: 1200px) {

}
